@page "/home"
@page "/"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Home> _localizer

<MudContainer>
    <MudGrid>
        <MudItem xs="12" sm="12" md="12">
            <div class="d-flex justify-center mt-4">
                <MudIcon Icon="@CustomIcons.BlazorHero" Size="Size.Large" ViewBox="0 89 1000 962" Style="width: 250px; height: 250px;" />
            </div>
        </MudItem>
        <div style="margin:50px"></div>
    </MudGrid>
</MudContainer>